h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Zilla Slab";
}

body {
	margin: 0;
	font-family: "Open Sans";
}

code {
	font-family: "Fira Code", monospace;
	color: white;
	background-color: #607d8b;
	border-radius: 4px;
	padding: 0 2px;
}

.page-container {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.page-content {
	margin-top: 24px;
	margin-bottom: 24px;
	flex: 1;
}
